{%extends 'base.html'%}
{%block 'title'%}
Trainees - List
{%endblock%}

{%block 'content'%}
    <h1>Trainees list</h1>
    <a href="{%url 'trainee_create'%}">add new trainee</a><br>
    <a href="{%url 'trainee_create_form'%}">add new trainee by forms</a><br>
    <a href="{%url 'trainee_create_formmodel'%}">add new trainee by form model</a>
<table border="1px solid" width="100%">
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>Image</th>
        <th>email</th>
        <th>age</th>
        <th>address</th>
        <th>track</th>
        <th>Actions</th>
    </tr>
 {%for trainee in trainees%}
<tr>
    <td>{{trainee.id}}</td>
    <td>{{trainee.name}}</td>
    <td>{{trainee.image}}</td>
    <td>{{trainee.email}}</td>
    <td>{{trainee.age}}</td>
    <td>{{trainee.address}}</td>
    <td>{{trainee.trackobj.name}}</td>
    <td>
        <a href="{%url 'trainee_update' trainee.id%}">Update</a>
        <a href="{%url 'trainee_delete' trainee.id%}">Delete</a>
        <a href="{%url 'trainee_details' trainee.id%}">show details</a>
    </td>
</tr>

{%endfor%}

</table>
{%endblock%}